body, html {
    margin: 0;
    font-family: sans-serif;
    color: blue;
}
 
.content {
    margin: 0 auto;
    width: 400px;
}
 
table, td, th {
    border: 1px solid #aaa;
}
 
table {
    border-collapse: collapse;
    width: 100%;
}
 
th {
    height: 30px;
}
 
td {
    text-align: center;
    padding: 5px;
}
 
.form {
    margin-top: 20px;
}
 
#content {
    width: 70%;
}
     
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: wheat;
  }
  
  .active {
    background-color: navajowhite;
  }

